@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");

body {
   margin: 0;
   display: flex;
   justify-content: center;
   background: #e8e8e8;
}

.container {
   position: relative;
   width: 600px;
   background: whitesmoke;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

header {
   background-image: url("https://image.shutterstock.com/image-photo/burger-banner-raw-ingredients-grilled-260nw-1769975306.jpg");
   font-family: "Smythe", cursive;
   font-style: normal;
   font-weight: 400;
   color: #ffffff;
   text-align: center;
   font-size: 22.4216px;
   padding: 30px 30px 40px 30px;
}

.h1 {
   font-size: 39px;
   margin: 0;
}

header p {
   margin: 0;
}

section,
.checkout {
   padding: 0px 46px 46px 46px;
}

/* Javascript rendering */

.item {
   background: whitesmoke;
   display: flex;
   font-family: "Smythe", cursive;
   justify-content: space-between;
   margin-top: 67.5px;
}

.txt {
   display: flex;
   gap: 31px;
}

.img {
   font-size: 78.72px;
   margin: 0;
}

.food {
   font-weight: 400;
   font-size: 28px;
   margin: 0;
}

.ingredient {
   margin: 0;
   line-height: 24px;
   color: #8b8b8b;
}

.cost {
   font-size: 20px;
   margin-top: 8px;
}

.btn {
   width: 50px;
   height: 50px;
   font-size: 32px;
   font-weight: 200;
   font-family: "Inter";
   border: 1.5px solid #dedede;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 25px;
   cursor: pointer;
}

.line {
   margin-top: 140px;
   width: 504px;
   height: 0px;
   border: 1px solid #d2d2d2;
   display: flex;
   justify-content: center;
   position: absolute;
}

#order {
   text-align: center;
   font-family: "Smythe", cursive;
}

.your-order-text {
   font-family: "Smythe", cursive;
   font-size: 28px;
}

.order-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 20px;
}

.content {
   display: flex;
   gap: 13px;
}

.content .cart {
   font-size: 28px;
   margin: 0;
}

.content .remove {
   font-family: "Verdana", sans-serif;
   font-size: 12px;
   color: #bbbbbb;
   cursor: pointer;
}

.border {
   display: flex;
   justify-content: center;
}

.last-line {
   width: 504px;
   height: 0px;
   border: 2px solid #393333;
}

.total-price {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 20px;
}

.total {
   font-size: 28px;
}

button {
   background: #16db99;
   font-weight: 700;
   color: #ffffff;
   font-family: "Verdana", sans-serif;
   border: none;
   border-radius: 3px;
   height: 60px;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
   width: 100%;
   cursor: pointer;
}

/* Form */

.form {
   margin: auto;
   background: whitesmoke;
   display: flex;
   position: absolute;
   right: 0px;
   left: 14px;
   top: 292px;
   bottom: 326px;
   flex-direction: column;
   width: 450px;
   height: 480px;
   padding: 24px;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   font-family: "Verdana", sans-serif;
   text-align: center;
   border-radius: 4px;
}

h1 {
   font-weight: 700;
   font-size: 24px;
}

input {
   width: 400px;
   height: 71px;
   margin-top: 23px;
   border-radius: 4px;
   font-size: 20px;
   border-color: #757575;
}

input::placeholder {
   font-size: 20px;
}

.submit-btn {
   height: 71px;
   width: 410px;
   margin: 25px 0px;
   background: #16db99;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 700;
   font-size: 20px;
   color: #ffffff;
}

/* Thankyou Message */

.thankyou-msg {
   display: flex;
   background: #ecfdf5;
   font-size: 32px;
   font-family: "Smythe", cursive;
   border-radius: 3px;
   width: 504px;
   height: 120px;
   justify-content: center;
   align-items: center;
}

/* Utilities */

.hidden {
   display: none;
}
